.SidePanel {
  width: 300px;
  background: #051b57;
}

.SidePanel-logo {
  width: "100%";
  height: 115px;
  background: #fff url(../logo.png) no-repeat center;
  background-size: 100% 100%; 
  text-align: center;
}

.SidePanel-menu {
  padding: 0;
  margin: 0;
  width: 100%;
  float: left;
}

.SidePanel-menu-item {
  list-style: none;
  width: 100%;
  border-bottom: #fff 1px solid;
}

.SidePanel-menu-item > div {
  padding: 15px;
  text-align: center;
  min-height: 100px;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.SidePanel-menu-text {
  color: #fff;
  margin: 8px 0;
}

.SidePanel-color-options {
  margin-top: 5px;
}

.SidePanel-color-option span {
  display: inline-block;
  margin: 0 8px;
  width: 20px;
  height: 20px;
  border: 3px solid transparent;
  text-indent: -100px;
  overflow: hidden;
  background: #000;
}

.SidePanel-color-option input:not([disabled]) + span {
  cursor: pointer;
}

.SidePanel-color-option input:checked:not([disabled]) + span {
  border: 3px solid #1284e7;
}

.SidePanel-color-option input {
  opacity: 0;
  position: absolute;
}

.SidePanel-color-option span[class*='sidePanelColor1'],
.SidePanel-color-option span[class*='shutterPanelColor1'] {
  background: #5f3915 url(../assets/options-bg/WoodDark.jpg) no-repeat center;
  color: transparent;
}

.SidePanel-color-option span[class*='sidePanelColor2'],
.SidePanel-color-option span[class*='shutterPanelColor2'] {
  background: grey url(../assets/options-bg/FabricSC2020.png) no-repeat center;
  color: transparent;
}

.SidePanel-color-option span[class*='sidePanelColor3'],
.SidePanel-color-option span[class*='shutterPanelColor3'] {
  background: white url(../assets/options-bg/White.png) no-repeat center;
  color: transparent;
}

.SidePanel-height-option {
  color: #fff;
  flex: 1;
}

.SidePanel-height-option > div {
  padding: 8px;
  margin-bottom: 3px;
  border: 1px solid transparent;
}

.SidePanel-height-option > *:hover {
  cursor: pointer;
}

.SidePanel-height-option input:checked + div {
  border-color: white;
  border-radius: 2px;
}

.SidePanel-height-option input {
  opacity: 0;
  position: absolute;
}

.SidePanel-height-options {
  margin: 5px 0 20px;
  padding: 0 25px;
}

.SidePanel-loading {
  display: flex;
  flex-direction: column;
  color: #fff;
  align-items: center;
  padding: 30px 0;
  font-size: 14px;
}

.SidePanel-menu-text input[type='checkbox'] {
  margin-left: 12px;
}

.SidePanel-menu-item:last-child {
  border: none;
}